<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>W07_Singh_Anusha.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>03CCDB181DB144D500D9BDEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03CCDB2F1DB144D500D9BDEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03CCDB3A1DB144D500D9BDEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
